@use "media";


.Projects {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .Heading {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto 11px auto;
        grid-template-areas:
        "heading .       ."
        ".       .       ."
        "text    .    more";
        align-items: end;

        .Head {
            grid-area: heading;
            /* Heading/H2 */
            font-size: 48px;
            font-weight: 600;
            line-height: 120%; /* 57.6px */
            letter-spacing: -0.48px;
        }

        .Text {
            grid-area: text;
            /* Body/XL */
            font-size: 20px;
            font-weight: 500;
            line-height: 140%; /* 28px */
            letter-spacing: -0.2px;
            width: 392px;
        }

        .More {
            grid-area: more;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            gap: 8px;
            text-decoration: none;
            color: black;

            .MoreText{                
                /* Heading/H5 */
                font-size: 20px;
                font-weight: 600;
                line-height: 140%; /* 28px */
                letter-spacing: -0.2px;
            }

            .MoreImg {
                width: 13px;
                height: 15px;
            }
        }
    }

    .ProjectsMain {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 24px;
        
    

        .ProjectsContentBlock {
            display: flex;
            width: 592px;
            flex-direction: column;
            align-items: flex-start;
            gap: 24px;
          

            .Background {
                width: 592px;
                height: 500px;
                border-radius: 32px;

                .Image {
                    width: 100%;
                    height: 100%;
                }
    
                &.BackgroundCrtly {
                    background: linear-gradient(104deg, #7A19F3 -2.44%, #A952F3 100%);
                    // padding: 40px 56px 0 55px;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                }

                .ImageCrtly {
                    bottom: 0;
                    width: 481px;
                    height: 474px;
                    flex-shrink: 0;
                }
            }
            }

            .Signature {
                display: flex;
                flex-direction: column;
                gap: 6px;
                
                .SignatureHeading {
                    align-self: stretch;
                    /* Heading/H5 */
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 140%; /* 28px */
                    letter-spacing: -0.2px;
                }
                .SignatureText {
                    align-self: stretch;
                    /* Body/XL */
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 140%; /* 28px */
                    letter-spacing: -0.2px;
                }
            }

    
        }
    }


@media (min-width: media.$sm) and (max-width: calc(media.$md - 1px)) {
    .Projects {
        gap: media.fv(32px, 50px, media.$sm, media.$md);

        .Heading {
            grid-template-columns: auto;
            grid-template-rows: auto 16px auto;
            grid-template-areas:
            "heading .    more"
            ".       .       ."
            "text    text text";
    
            .Head {
                font-size: 24px;
            }
    
            .Text {
                font-size: 14px;
                width: 100%;
            }
    
            .More {
    
                .MoreText{                
                    font-size: 14px;
                }
    
                .MoreImg {
                    width: 13px;
                    height: 15px;
                }
            }
        }

        .ProjectsMain {
            justify-content: center;
            column-gap: 32px;
            row-gap: media.fv(48px, 43px, media.$sm, media.$md);

            .ProjectsContentBlock {
                width: media.fv(343px, 328px, media.$sm, media.$md);
                gap: 13px;

                .Background {
                    width: media.fv(343px, 330px, media.$sm, media.$md);
                    height: media.fv(289px, 278px, media.$sm, media.$md);

                    .ImageCrtly {
                        width: media.fv(320px, 330px, media.$sm, media.$md);
                        height: media.fv(289px, 278px, media.$sm, media.$md);
                    }
                }

                .Signature {
                    gap: media.fv(3.4px, 6px, media.$sm, media.$md);
                }
            }    

        }   
    }
    

    
}

@media (min-width: media.$md) and (max-width: calc(media.$lg - 1px)) {
    .Projects {
        gap: media.fv(50px, 40px, media.$md, media.$lg);

        .Heading {
      
            .Head {
                font-size: media.fv(32px, 48px, media.$md, media.$lg);
            }
    
            .Text {
                font-size: media.fv(16px, 20px, media.$md, media.$lg);
            }
        }


        .ProjectsMain {
            row-gap: (43px, 48px, media.$md, media.$lg);

            .ProjectsContentBlock {
                width: media.fv(328px, 592px, media.$md, media.$lg);
                gap:  media.fv(13px, 24px, media.$md, media.$lg);

                .Background {
                    width: media.fv(330px, 592px, media.$md, media.$lg);
                    height: media.fv(278px, 500px, media.$md, media.$lg);

                    .ImageCrtly {
                        width: media.fv(330px, 592px, media.$md, media.$lg);
                        height: media.fv(278px, 500px, media.$md, media.$lg);
                    }
                }

                .Signature {
                    gap: 6px;
                }
            }    
        }   
    }
    
}

    