.MoreMain {
    position: relative;

    .LinkHome {
        position: absolute;
        left: 100px;
        top: 0;
        color: #FFF;
        font-size: 113.318px;
        font-style: normal;
        font-weight: 700;
        line-height: 90%; /* 101.987px */
        letter-spacing: -2.266px;
    }
}